################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Vjezba1/.vs/Vjezba1/v17
/vjezba 2/.vs/vjezba 2/v17/ipch/AutoPCH/4f290a4e7b510805
/vjezba 2/.vs/vjezba 2/v17
